//color names provided by http://chir.ag/projects/name-that-color/
$white: #fff;
$black: #000;
$atlantis: #8ccb24;
$lima: #7ebe15;
$test: $black;
$brand-green: #5cbc4a;
$apple: #5fb92d;
$shark: #28282a;
$bg-green: #6ac35b;
$bg-black: #18181b;
$dark-green: #2b5034;
$dark-red: #ab162b;
$green: #82bc00;
$red: #eb0028;
$bright-green: #c4e76a;
$grey: #a3a3a3;
$nevada: #707172;
$silver-sand: #b8babc;
$dew-black: #171719;
$bombay: #b0b2b4;
$dummy: rgba($black, .5);
