//this file keeps the env variable for all different target platforms

/* @if NODE_ENV='prod' */
$aws: 'http://clashachievery-cdn.clashofclans.com/';
/* @endif */

/*  @if NODE_ENV='local' */
$aws: '';
/*  @endif */

/*  @if NODE_ENV='stage' */
$aws: 'http://s3.amazonaws.com/clash-achievery-staging/';
/*  @endif */